packages/*
bin/*
obj/*
*.dll
*.xml
myApp.Admin.Business/bin/Debug/myApp.Admin.Business.dll.config
*.pdb
myApp.Admin.Business/obj/Debug/myApp.Admin.Business.csproj.FileListAbsolute.txt
myApp.Admin.Business/obj/Debug/myApp.Admin.Business.csprojResolveAssemblyReference.cache
myApp.Admin.Web/bin/myApp.Admin.Web.dll.config
myApp.Admin.Web/obj/Debug/myApp.Admin.Web.csproj.FileListAbsolute.txt
myApp.Admin.Web/obj/Debug/myApp.Admin.Web.csprojResolveAssemblyReference.cache
myApp.Data/bin/Debug/myApp.Data.dll.config
myApp.Data/obj/Debug/edmxResourcesToEmbed/myAppModel.csdl
myApp.Data/obj/Debug/edmxResourcesToEmbed/myAppModel.msl
myApp.Data/obj/Debug/edmxResourcesToEmbed/myAppModel.ssdl
myApp.Data/obj/Debug/myApp.Data.csproj.FileListAbsolute.txt
myApp.Data/obj/Debug/myApp.Data.csprojResolveAssemblyReference.cache
myApp.Data/obj/Debug/TempPE/myAppModel.Context.cs.dll
myApp.Data/obj/Debug/TempPE/myAppModel.Context.cs.dll
myApp.Data/obj/Debug/TempPE/myAppModel.Context.cs.dll
*.dll
