        body  {
            margin: 0px auto;
            padding: 0px;
            font-size: 12px;
            font-weight: normal;
            font-family:Verdana;
            line-height:1.5;
        }
        form,p,ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd{
            margin:0px;
            padding:0px;
        }
        ul{
            list-style:none;
        }
        img{
            border:0px;
        }
        a{
            color:#05a;
            text-decoration:none;
        }
        a:hover{
            color:#f00;
        }
        .header{
            margin:0px auto 8px auto;
            height:70px;
            width:900px;            
        }
        .nav {
            margin: 0px auto 8px auto;
            height: 48px;
            width: 900px;
            border: 1px solid #ccc;
            background:#ccffcc;            
        }
        .maincontent {
            margin: 0px auto 8px auto;            
            width: 900px;
            border: 1px solid #ccc;
            overflow:auto;
            zoom:1;
        }

        .main {
            height: 500px;
            width: 664px;
            float: left;
            border: 1px solid #ccc;
            background:#ffff99;
        }
        .side {
            height: 500px;
            width: 228px;            
            border: 1px solid #ccc;
            float:right;
            background:#ffcc99;
        }
        .footer {
            margin: 0px auto 8px auto;
            height: 70px;
            width: 900px;
            border: 1px solid #ccc;
            background:#ccffcc;
        }
        .clearfloat{
            clear:both;
            height:0px;
            font-size:1px;
            line-height:0px;
        }

        #logo{
            margin-top:8px;
            float:left;
            background:#ffcc99;
        }
        #search{
            margin-top:30px;
            float:right;            
            width:300px;
            height:30px;
            line-height:30px;
            background:#ffcc99;
            padding:0px 10px;
            color:#444;            
        }

        .inp_srh{
            width:147px;
            height:17px;
            padding-left:20px;
            border:1px solid #cbcbcb;
            
        }
        .btn_srh{
            width:58px;
            height:23px;
            background:url(/resource/images/btn_bg.png) 0px 0px no-repeat;
            border:none;
            cursor:pointer; 
            //text-indent:-999em;
        }
        #search * {
            vertical-align:middle;
        }

        /*导航样式 开始 
            */
        #menu {
            width: 900px;
            height: 48px;
            line-height: 48px; 
            background: #eee;
            text-align: center;
            border-bottom: 3px solid #e10001;
        }
            #menu ul {
                margin: 0px;
                padding: 0px;                
            }
            #menu ul li {               
                height:46px;
                line-height:46px;
                padding:0px 0px;
                margin-left:2px;                
                position:relative;
                float:left;
               
            }
            #menu a {
                text-decoration: none;
                background: url(/resource/images/nav_bg.png) -2px -48px no-repeat;
                color: #000;
                display: block;
                padding: 0px 0px;
                width: 142px;
                height: 46px;
                line-height: 46px;
                font-size: 14px;
                font-weight: bold;
                float: left;
            }

                #menu a:hover {
                    text-decoration: none;
                    background: url(/resource/images/nav_bg.png) -2px -94px no-repeat;
                    color: #f00;
                }

            #menu ul li a#current {
                background: url(/resource/images/nav_bg.png) -2px -2px no-repeat;
                font-weight: bolder;
                color: #fff;
                border-bottom: 4px solid #e10001;
            }
                #menu ul li ul {
                    display:none;                    
                    position:absolute ;
                    left:-1px;
                    top:48px;  
                    border:1px solid #ccc;
                                                      
                }
                #menu ul li:hover ul{
                    display:block;
                }
                #menu ul li ul li {
                    float:none;
                    margin:0px;
                    background:#eee;
                }
                #menu ul li ul li a{                    
                    background: none;
                }
                    #menu ul li ul li a:hover {
                        background: #ccc;
                        color:#fff;
                    }
        /*导航样式 结束 
            */
        /*侧边栏 开始 
            */
        .side_box{
            margin-bottom:10px;
        }

         .side_box h2 {
            height:25px;
            line-height:25px;
            padding:6px 10px 0px 6px;
            background:url(/resource/images/nav_bg.png) 0 -49px repeat-x;
            font-size:19px;
            color:#444;

        }
            .side_box h2 strong {
                color: #f30;
            }
            .side_con{
                padding:10px;
            }
            .product ul li{
                background:url(/resource/images/module.jpg) 0 0 no-repeat;
                height:40px;
                line-height:40px;
                padding:0px 0px 0px 30px;
            }